extends ../../../core/page/views/index

block main
  h2 #{history.length} Commits in Repository #{repo}
  if error
    .error #{error}
  ul.commits
    each commit in history
      li
        span.sha= commit.sha
        span.author_name= commit.author.name
        span.author_email= commit.author.email
        span.authored_date= commit.authored_date
